<div class="container text-center" style="padding-top: 150px; padding-bottom: 50px;">
  <h2 style="color: white; font-family: 'Raleway', sans-serif;"> <%= @polaroid.title %></h2>
  <br>
  <hr>
  <br>
  <div class="img-res">
    <%= cl_image_tag @polaroid.photo.key, height: 450 %>
  </div>
  <br>
  <p style="color: white; font-family: 'Raleway', sans-serif;">  <%= @polaroid.description %></p>
  <hr>
  <br>
</div>

