<br>
<br>
<br>
<div class="about" style="padding-top: 100px;">
 <div class="container">
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-6 text-center frame padded">
      <%= image_tag("logo.png")%>
    </div>
    <div class="col-xs-12 col-sm-6">
     <ul class="list-unstyled padded ">
      <div style="color: white;">
      <h3>Francisco Dutary</h3>
      <br>
      <h4>fdutary@gmail.com</h4>
      <h4>@fanciscodutary</h4>
      <h4></h4>
      <h4>+507 62838609</h4>
      <br>
      <h3 class="btn btn-bro" style="border-radius: 50px; color: black;"><a href="" style="color: black;">Contactame</a></h3>

      </div>

    </ul>
  </div>
</div>
<hr>
</div>
<br>
<br>
</div>
