<div class="container" style="padding-top: 150px;">
  <h1 class="text-center" style="color:white; font-family: 'Raleway', sans-serif; font-weight: lighter;">Archivos Descargables</h1>
  <hr>
  <br>
  <div class="text-center">
  <h3 style="color: white;">File 1</h3>
  <p style="color: white;">Nature Color by Francisco Dutary</p>
  <%= link_to download_pdf_path  do%>
  <p>Download <i class="fas fa-download"></i></p>
  <% end %>
  </div>
</div>
